[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "metaRMST"]
	path = metaRMST
	url = https://github.com/iweir/metarmst
	shallow = true
	registered = true
